:root {
    --color-sudoku-background: white;

    --font-open-sans: 'Open Sans', sans-serif;

    --font-weight-digit-clue: 500;
    --font-weight-digit-input: 300;
    --font-weight-digit-highlight: 600;
    --font-weight-digit-error: 600;

    --grid-size-default: 600px;
    --grid-size-portrait: 98vmin;
    --grid-size-landscape: 80vmin;

    --cell-size-default: calc(var(--grid-size-default)/9);
    --cell-size-portrait: calc(98vmin/9);
    --cell-size-landscape: calc(80vmin/9);

    --digit-size-grid-default: calc(var(--grid-size-default)*0.06);
    --digit-size-pencil-default: calc(var(--grid-size-default)*0.02);

    --top-bar-logo-font-size: 32px;
    --top-bar-block-start: calc(var(--top-bar-logo-font-size) * 1.0);
    --top-bar-block-stop: calc(var(--top-bar-logo-font-size) * 0.2);
    --top-bar-height: calc(var(--top-bar-logo-font-size) * 1.2);
    --top-bar-height-full: calc(var(--top-bar-height) + var(--top-bar-block-stop) + var(--top-bar-block-start));
}

:root {
    --color-00: white;
    --color-01: black;
    --color-02: rgb(236, 241, 245);
    --color-03: rgb(218, 228, 236);
    --color-04: rgb(173, 199, 219);
    --color-05: rgb(146, 177, 200);
    --color-06: rgb(53, 92, 122);
    --color-07: rgb(241, 221, 221);
    --color-08: rgb(223, 188, 188);
    --color-09: rgb(212, 149, 149);
    --color-10: rgb(194, 126, 126);
    --color-11: rgb(163, 50, 50);
    --color-12: rgb(114, 51, 51);
    --color-13: rgba(56,112,138,0.55);

    --color-digit-default: var(--color-01);
    --color-digit-clue: var(--color-01);
    --color-digit-input: var(--color-06);
    --color-digit-error: var(--color-11);
    --color-digit-error-clue: var(--color-12);
    --color-cell-default: var(--color-00);
    --color-cell-highlight: var(--color-02);
    --color-cell-highlight-selected-multi: var(--color-03);
    --color-digit-highlight: var(--color-04);
    --color-digit-highlight-selected-single: var(--color-05);
    --color-error-cell-highlight: var(--color-07);
    --color-error-cell-highlight-selected-multi: var(--color-08);
    --color-error-digit-highlight: var(--color-09);
    --color-error-digit-highlight-selected-single: var(--color-10);

    --color-anim-grid-fade: var(--color-05);
    --color-anim-shadow-fade: var(--color-13);
}

#sudoku-root-top-container {
    height: var(--top-bar-height-full);
    width: 100%;
}

#sudoku-root-top-container #sudoku-logo {
    width:fit-content;
    height: fit-content;
    font-size: var(--top-bar-logo-font-size);
    margin-block-start: var(--top-bar-block-start);
    margin-block-end: var(--top-bar-block-stop);
    display: inline-block;
    background-color: red;
}

#sudoku-root-top-container #sudoku-pause-button {
    width: min-content;
    height: var(--top-bar-logo-font-size);
    cursor: pointer;
    background-color: green;
    margin: 0;
    padding: 0;
    float: right;
}

#sudoku-root-top-container #sudoku-pause-button img {
    width: var(--top-bar-logo-font-size);
    height: var(--top-bar-logo-font-size);
    pointer-events: none;
    position: relative;
}

/* Table Basic Styling */
#sudoku-root #sudoku-root-table {
    border-collapse: collapse;
    border: 2px solid black;
    table-layout: fixed;
}

#sudoku-root #sudoku-root-table {
    width: 500px;
    height: 500px;
}

#sudoku-root #sudoku-root-container {
    width:min-content;
    margin: auto;
}

#sudoku-root #sudoku-root-row, #sudoku-root #sudoku-root-cell { 
    border: 1px solid black;
}

#sudoku-root #sudoku-root-row { 
    height: calc(100%/9);
}

#sudoku-root #sudoku-root-cell {
    width: 100%;
    font-size: 32px;
    font-size: var(--digit-size-grid-default);
    background-color: var(--color-cell-default);
    font-family: var(--font-open-sans);
    font-weight: var(--font-weight-digit-input);
    color: var(--color-digit-default);

    transition: background-color 0.1s ease;
}

/*
/*      Animations
*/

/* Input fade animation */
#sudoku-root tr#sudoku-root-row #sudoku-root-cell[data-sudoku-cell-start-anim] { 
    animation: input-fade 0.4s ease 0s backwards;
    pointer-events: none;
}

@keyframes input-fade {
    0% {
        opacity: 0.0;
        color: var(--color-anim-grid-fade);
        background-color: var(--color-anim-grid-fade);
    }

    100% {
        opacity: 1.0;
        color: initial;
        background-color: initial;
    }
}

/* Pause animation */
#sudoku-root #sudoku-root-table[data-puzzle-paused] tr#sudoku-root-row #sudoku-root-cell {
    animation: grid-paused-pulse 1.4s ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    pointer-events: none;
}

@keyframes grid-paused-pulse {
    0% {
        opacity: 1.0;
        color: var(--color-anim-grid-fade);
        font-size: 0;
        background-color: var(--color-anim-grid-fade);
    }

    100% {
        opacity: 1.0;
        color: initial;
        font-size: 0;
        background-color: initial;
    }
}

#sudoku-root #sudoku-root-table[data-puzzle-paused] {
    animation: grid-paused-shadow-pulse 1.4s ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    pointer-events: none;
}

@keyframes grid-paused-shadow-pulse {
    0% {
        -webkit-box-shadow: 0px 0px 58px -11px var(--color-anim-shadow-fade);
        -moz-box-shadow: 0px 0px 58px -11px var(--color-anim-shadow-fade);
        box-shadow: 0px 0px 58px -11px var(--color-anim-shadow-fade);
    }

    100% {
        -webkit-box-shadow: 0px 0px 24px -11px var(--color-anim-shadow-fade);
        -moz-box-shadow: 0px 0px 24px -11px var(--color-anim-shadow-fade);
        box-shadow: 0px 0px 24px -11px var(--color-anim-shadow-fade);
    }
}

/********************************************************************/

/* Base Cell Line Thickness*/
#sudoku-root #sudoku-root-row #sudoku-root-cell[data-sudoku-cell-border-right] { border-right: 2px solid black; }
#sudoku-root #sudoku-root-row #sudoku-root-cell[data-sudoku-cell-border-bottom] { border-bottom: 2px solid black; }

/*
/*      BASE CELL STATES
*/

/* Style for all cells */
#sudoku-root #sudoku-root-row #sudoku-root-cell {
    background-color: var(--color-cell-default);
    font-weight: 600;
    color: var(--color-digit-input);
    cursor:pointer;
}

/* Cell indicator highlight for cells around selected cell with digit */
#sudoku-root #sudoku-root-row #sudoku-root-cell[data-sudoku-cell-highlight] {
    background-color: var(--color-cell-highlight);
}

/* Clue cell styling */
#sudoku-root #sudoku-root-row #sudoku-root-cell[data-sudoku-cell-type="clue"] {
    font-weight: 600;
    color: var(--color-digit-clue);
}

/* Single-selected cell styling */
#sudoku-root #sudoku-root-row #sudoku-root-cell[data-sudoku-cell-selected="single"] {
    background-color: var(--color-digit-highlight-selected-single);
    font-weight: var(--font-weight-digit-highlight);
}

/* Multi-selected cell styling */
#sudoku-root #sudoku-root-row #sudoku-root-cell[data-sudoku-cell-selected="multi"] {
    background-color: var(--color-cell-highlight-selected-multi);
}

/* Error highlight same digit cells */
#sudoku-root #sudoku-root-row #sudoku-root-cell[data-sudoku-digit-highlight] {
    font-weight: var(--font-weight-digit-highlight);
    background-color: var(--color-digit-highlight);
}

/* Error highlight grid cells */
#sudoku-root #sudoku-root-row #sudoku-root-cell[data-sudoku-cell-error="cell"] {
    background-color: var(--color-error-cell-highlight);
}

/* Error highlight same digit cell */
#sudoku-root #sudoku-root-row #sudoku-root-cell[data-sudoku-cell-error="digit"] {
    color: var(--color-digit-error);
    background-color: var(--color-error-digit-highlight);
}

/* Error highlight same digit cell (type == clue) */
#sudoku-root #sudoku-root-row #sudoku-root-cell[data-sudoku-cell-error="digit"][data-sudoku-cell-type="clue"] {
    color: var(--color-digit-error-clue);
    font-weight: 700;
    background-color: var(--color-error-digit-highlight);
}

/* Error highlight grid cells (single-selected) */
#sudoku-root #sudoku-root-row #sudoku-root-cell[data-sudoku-cell-selected="single"][data-sudoku-cell-error="cell"] {
    background-color: var(--color-error-cell-highlight-selected-multi);
}

/* Error highlight grid cells (multi-selected) */
#sudoku-root #sudoku-root-row #sudoku-root-cell[data-sudoku-cell-selected="multi"][data-sudoku-cell-error="cell"] {
    background-color: var(--color-error-cell-highlight-selected-multi);
}

/* Error highlight same digit cells (single-selected) */
#sudoku-root #sudoku-root-row #sudoku-root-cell[data-sudoku-cell-selected="single"][data-sudoku-cell-error="digit"],
#sudoku-root #sudoku-root-row #sudoku-root-cell[data-sudoku-cell-selected="multi"][data-sudoku-cell-error="digit"] {
    background-color: var(--color-error-digit-highlight-selected-single);
}

#sudoku-root #sudoku-root-row #sudoku-root-cell[data-sudoku-cell-type="pencil"] {
    font-size: var(--digit-size-pencil-default);
    font-weight: 500;
    letter-spacing: 2px;
    color: black;
    word-wrap: break-word;
}

#sudoku-root #sudoku-root-row #sudoku-root-cell[data-sudoku-cell-arrow-highlight] {
    border: 2px solid red;
}

#sudoku-root #sudoku-root-row #sudoku-root-cell[data-sudoku-cell-type="pencil"] span[data-sudoku-cell-pencil-highlight] {
    opacity: 0.7;
}

#sudoku-root #sudoku-root-row #sudoku-root-cell[data-sudoku-cell-type="pencil"] span[data-sudoku-cell-pencil-highlight-digit] {
    font-weight: 700;
}

/*
/*      INPUT BUTTONS
*/

#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input {
    margin: auto;
    width: 94%;
    max-width: 100%;
    margin-top: calc(var(--grid-size-default)*0.03);
}

#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input .sudoku-button-input,
#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input .sudoku-button-input:active,
#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input .sudoku-button-input:focus {
    width: calc(100% / 6);
    height: calc(var(--grid-size-default)*0.1);
    font-size: calc(var(--grid-size-default)*0.03);
    font-weight: 600;
    color: black;
    border: none;
    outline: none;
    margin-right: calc(100% / 30);
    background-color: white;
    transition: background-color 0.3s ease-out;
    border-radius: 20%;
}

#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input .sudoku-button-input:hover {
    background-color: #bad4dbab;
    cursor:pointer;
}

#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input .sudoku-button-input img {
    width: 4vmin;
    height: 4vmin;
    margin: auto;
    fill: red;
}

#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input .sudoku-button-input #sudoku-button-input-label {
    width: 100%;
    text-align: center;
    position:relative;
    top:-1.2vmin;
}

#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input .sudoku-button-input:last-child,
#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input .sudoku-button-input:last-child:hover,
#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input .sudoku-button-input:last-child:active,
#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input .sudoku-button-input:last-child:focus {
    margin-right:0vmin;
}

#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input [data-sudoku-button-type-pencil][data-sudoku-button-state="active"],
#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input [data-sudoku-button-type-pencil][data-sudoku-button-state="active"]:hover {
    background-color: #bad4dbab;
}

#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input button[data-sudoku-button-state="disabled"],
#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input button[data-sudoku-button-state="disabled"] img,
#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input button[data-sudoku-button-state="disabled"] #sudoku-button-input-label,
#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input button[data-sudoku-button-state="disabled"]:hover {
    opacity: 0.6;
    cursor: default;
    background-color: white;
}

/*
/*      NUMBER BUTTONS
*/

#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input-numbers {
    width:94%;
    max-width: 100%;
    margin:auto;
    margin-top: calc(var(--grid-size-default)*0.02);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input-numbers .sudoku-button-number-input,
#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input-numbers .sudoku-button-number-input:hover,
#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input-numbers .sudoku-button-number-input:active,
#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input-numbers .sudoku-button-number-input:focus {
    width: calc(100% / 10);
    height: calc(var(--grid-size-default)*0.1);
    font-size: calc(var(--grid-size-default)*0.08);
    font-weight: 500;
    color: rgb(19, 81, 110);
    border: none;
    outline: none;
    border-radius: 20%;
    margin-right:calc(100%/100);
    transition: background-color 0.3s ease-out, text-shadow 0.5s ease, color 0.3s ease;
    background-color: white;
    text-shadow: 0 0 0vmin #fff, 0 0 0vmin #fff, 0 0 0vmin #fff, 0 0 0vmin #fff;
}

#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input-numbers .sudoku-button-number-input:last-child,
#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input-numbers .sudoku-button-number-input:last-child:hover,
#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input-numbers .sudoku-button-number-input:last-child:active,
#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input-numbers .sudoku-button-number-input:last-child:focus {
    margin-right:0vmin;
}

#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input-numbers .sudoku-button-number-input:hover {
    background-color: #bad4dbab;
    text-shadow: 0 0 0.4vmin #fff, 0 0 1vmin #fff, 0 0 1.8vmin #fff, 0 0 2.2vmin #fff;
    color: rgb(56, 112, 138);
    cursor: pointer;
}

#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input-numbers .sudoku-button-number-input[data-sudoku-button-state="disabled"],
#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input-numbers .sudoku-button-number-input[data-sudoku-button-state="disabled"]:hover,
#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input-numbers .sudoku-button-number-input[data-sudoku-button-state="disabled"]:active,
#sudoku-root #sudoku-root-container #sudoku-root-container-buttons-input-numbers .sudoku-button-number-input[data-sudoku-button-state="disabled"]:focus {
    opacity: 0.3;
    cursor: default;
    background-color: white;
    pointer-events: none;
}