:root {
    --color-cell-default: white;
    --color-cell-hover: gray;
    --color-cell-highlight: rgb(189, 189, 189);
    --color-cell-selected: rgb(157, 188, 212);
    --color-cell-selected-highlight: rgb(218, 228, 236);
    --color-cell-digit-highlight: rgb(157, 188, 212);
    --color-cell-error-highlight: rgb(241, 221, 221);
    --color-cell-error-highlight-selected: rgb(223, 188, 188);
    --color-cell-error-digit-highlight: rgb(226, 170, 170);
    --color-cell-error-digit-highlight-selected: rgb(207, 138, 138);

    --color-digit-default: black;
    --color-digit-input: rgb(53, 92, 122);
    --color-digit-error: rgb(163, 50, 50);
    --color-digit-error-clue: rgb(114, 51, 51);

    --font-open-sans: 'Open Sans', sans-serif;

    --font-weight-digit-clue: 500;
    --font-weight-digit-input: 300;
    --font-weight-digit-highlight: 600;
    --font-weight-digit-error: 600;

    --grid-size-default: 600px;
    --grid-size-portrait: 98vmin;
    --grid-size-landscape: 80vmin;

    --cell-size-default: calc(var(--grid-size-default)/9);
    --cell-size-portrait: calc(98vmin/9);
    --cell-size-landscape: calc(80vmin/9);

    --digit-size-grid-default: calc(var(--grid-size-default)*0.06);

    --digit-size-pencil-default: calc(var(--grid-size-default)*0.02);

    --color-white: white;
    --color-black: black;
    --color-blue-1: rgb(236, 241, 245);
    --color-blue-2: rgb(218, 228, 236);
    --color-blue-3: rgb(173, 199, 219);
    --color-blue-4: rgb(146, 177, 200);
    --color-blue-5: rgb(53, 92, 122);
    --color-red-1: rgb(241, 221, 221);
    --color-red-2: rgb(223, 188, 188);
    --color-red-3: rgb(212, 149, 149);
    --color-red-4: rgb(194, 126, 126);
    --color-red-5: rgb(163, 50, 50);

    --new-color-cell-default: white;
    --new-color-cell-highlight: var(--color-blue-1);
    --new-color-cell-highlight-selected-multi: var(--color-blue-2);
    --new-color-digit-highlight: var(--color-blue-3);
    --new-color-digit-highlight-selected-single: var(--color-blue-4);
    --new-color-error-cell-highlight: var(--color-red-1);
    --new-color-error-cell-highlight-selected-multi: var(--color-red-2);
    --new-color-error-digit-highlight: var(--color-red-3);
    --new-color-error-digit-highlight-selected-single: var(--color-red-4);
    --new-color-digit-clue: var(--color-black);
    --new-color-digit-input: var(--color-blue-5);
    --new-color-digit-error: var(--color-red-5);

    --top-bar-logo-font-size: 32px;
    --top-bar-block-start: calc(var(--top-bar-logo-font-size) * 1.0);
    --top-bar-block-stop: calc(var(--top-bar-logo-font-size) * 0.2);
    --top-bar-height: calc(var(--top-bar-logo-font-size) * 1.2);
    --top-bar-height-full: calc(var(--top-bar-height) + var(--top-bar-block-stop) + var(--top-bar-block-start));
}